.Header_root {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-around;
  background-color: #131921;
  border: 1px solid black;
}

.Header_image {
  height: 35px;
}

.Header_searchIconHolder {
  height: 37px;
  width: 45px;
  text-align: center;
  background-color: rgb(252, 155, 29);
}

.Header_search {
  display: flex;
  align-items: center;
  width: 70%;
}

.Header_searchbar {
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-right: #131921;
}

.Header_btn {
  padding: 12px;
  margin: 5px;
  background-color: #131921;
  color: white;
  border: 1px solid #131921;
}

.Header_btn:hover {
  border: 1px solid white;
}

.Header_icon {
  font-size: 30px;
}
