.Login_root {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.Login_form {
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.Login_item {
  width: 250px;
  height: 35px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.Login_primary {
  background: linear-gradient(white, rgb(255, 196, 0));
}

.Login_primary:hover {
  background: rgb(255, 226, 128);
}

.Login_secondary {
  background: linear-gradient(white, rgb(194, 194, 194));
}

.Login_secondary:hover {
  background: rgb(225, 225, 225);
}

.Login_image {
  height: 80px;
  object-fit: contain;
}
